<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vue.js</title>
  <script type="text/javascript" src="js/vue.js"></script>
</head>
<body>
<div id="app">
  <input type="text"
    v-model="newTodoText"
    v-on:keyup.enter="addNewTodo"
    placeholder="add a todo"
  >
  <ul>
    <li
      is="todo-item"
      v-for="(todo,index) in todos"
      v-bind:title="todo"
      v-bind:index="index"
      v-on:remove="todos.splice(index,1)"
    ></li>
  </ul>
  <div v-bind:class='classObject'></div>
  <div v-bind:class='classObjectFunction'></div>
  <h1 v-if='ok'>YES</h1>
  <h1 v-else>no</h1>
  <div>点击了{{counter}}</div>
    <br/>
    <br/>
  <button v-on:click='counter += 1'>增加1</button>
    <br/>
    <br/>
  <div v-on:click="greetfunction">{{greet}}</div>
    <br/>
    <br/>
  <button v-on:click='say("hi")'>say hi</button>
  <button v-on:click='say("my")'>say my</button>
    <br/>
    <br/>
  <button v-on:click="wran('66666666',$event)">66666</button>
    <br/>
    <br/>
  <input type="text" v-model="message" placeholder="edlt me">
  <div>message is: {{message}}</div>
    <br/>
    <br/>
  <div>多行文本：</div>
  <span>Multiline message is:</span>
  <p style="white-space: pre">{{ messageText }}</p>
    <br>
  <textarea v-model="messageText" placeholder="add multiple lines"></textarea>
    <br><br>
  <input type="checkbox" id="checkout" v-model="checked">
  <label for="checkout">{{checked}}</label>
</div>
<script type="text/javascript">
Vue.component('todo-item',{
  template: '\
  <li>\
  {{ index }}\
  -\
    {{ title }}\
    <button v-on:click="$emit(\'remove\')">X</button>\
  </li>\
',
props:['title','index']
})
var app = new Vue({
  el:'#app',
  data:{
    checked:false,
    messageText:'uygyif',
    message:'66666666666',
    greet:'greet',
    counter:0,
    ok:true,
    isActive:true,
    error:null,
    newTodoText:'',
    todos:[
      'Do the dishes',
     'Take out the trash',
     'Mow the lawn'
   ],
   classObject:{
     active:true,
     'text-dg':true
   }
  },
  methods:{
    addNewTodo:function(){
      this.todos.push(this.newTodoText)
      this.newTodoText=''
    },
    greetfunction:function(){
      this.greet = event.target.tagName
    },
    say:function(mes){
      console.log(mes)
    },
    wran:function(mes,even){
      console.log(even)
    }
  },
  computed:{
    classObjectFunction:function(){
      console.log(this.error)
      return {
          active:this.isActive && !this.error,
          'text-dg':this.error && this.error.type === 'fatal',
      }
    }
  },
  watch:{
  }
})

</script>
</body>
</html>
