
body{
  width: 100%;
  background-color: #eee;
  #nav{
    background-color: red;
    font-size: 16px;
  }
  #banner{
    font-size: 16px;
  }
}
#nav{
  .aaa{
    background: #fff;
  }
}
#banner{
  font-size: 12px;
  .list{
    width: 100%
  }
  .list{
    font-size: 14px;
    zoom:1;
      background-color: #ffffff;
  }
  .anv{
    float: left;
    overflow: hidden;
  }
  .sd{
    display: block;
  }
  .sadsa{
    display: block;  
  }
}
