
body{
  width: 100%;
  background-color: #eee;
  #nav{
    background-color: red;
    font-size: 16px;
  }
  #banner{
    font-size: 16px;
  }
}
#nav{
  .aaa{
    background: #fff;
  }
}
#banner{
  font-size: 12px;
  .list{
    width: 100%
  }
}
